@using Kino.ViewModels
@model IEnumerable<RepertoryViewModel>

@{
    ViewBag.Title = "Delete";
}
   
        <select class='form-control' id='deleteMovieRepertory'>
            @foreach (var item in Model)
            {
                <option value=@item.Id>@item.Data @item.Godzina-@item.GodzinaZakonczenia @item.Film</option>

            }
        </select>
    </p>

    <p style="margin-bottom: 35px;">
        <button id="id_login_btn" class="btn btn-primary pull-right" type="submit" name="loginForm" onclick="deleteMovieRepertory()">
            <i class="icon-user icon-white"></i>
            Usuń
        </button>
    </p>


