/*.widget-name {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-shadow: 0 1px 1px #fff;  
    color: #3a87ad;
    border-bottom: 1px solid #ccc;
    padding-bottom: 16px;
    margin: 2px 0px 2px 0px;
}
h6 {
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}
.widget {
    margin-bottom: 30px;
}

.well-smoke {
    background: inherit;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    padding-bottom: 40px;
}
.invoice-head {
    padding: 0px 16px;
}
.invoice-data {
    width: 100%;
    padding: 5px;
}
.pull-left {
    float: left;
}
ul, menu {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.minus-list li {
    padding-bottom: 10px;
}
li {
     line-height: 20px;
    display: list-item;
    text-align: -webkit-match-parent;
}

.well
{
    width: 300px; 
    position: absolute;  
    z-index: 15; 
    top: 50%; 
    left: 50%; 
    margin: -150px 0 0 -150px;
}
.table{
    margin-top:30px;
}
.button_left{
    text-align: right;
}


#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}
#icons {
    margin: 0;
    padding: 0;
}
#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}
#dialog{
    margin-top: 10px;
    margin-bottom:10px;
}
textarea{
    resize: none;
}
#dialog-button span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}
#dialog-2{
    margin-top: 10px;
    margin-bottom:10px;
}*/
footer{width: 100%;
height: 40px;
font-size: 0.75em;
position: fixed;
bottom: 0;
background-color: rgba(3, 43, 59, 0.67);
text-align: center;
left: 0;}

a:hover
{
    color:#18BC9C;
}
.tile {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding-top:1em;
  margin-top: 1em;  
  background-color: #3071A9;
  background-repeat: no-repeat;
  -webkit-border-radius: 15px; /* Safari, Chrome */
  -khtml-border-radius: 15px;    /* Konqueror */
  -moz-border-radius: 15px; /* Firefox */
  border-radius: 15px;
  overflow: hidden;
}

.tile:hover {
  opacity : 0.60;
  filter : alpha(opacity=60);
}

.tile {
  box-shadow:0 0 1em #333;
}
.tekst {
  font-size: 2.75em;
  text-shadow: 1px 2px 3px #666;
  color: #FFF;
  text-align: center;
  margin-top: 1.5em;
}

.tekst:hover {
  color: #555555;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}
 
#wrapper.toggled {
    padding-left: 250px;
    overflow: scroll;
}
 
#sidebar-wrapper {  
    position: absolute; 
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
 
#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;  
    overflow-x: hidden; 
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px; 
}
.fixed-brand{
    width: auto;
}
/* Sidebar Styles */
 
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}
 
.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}
 
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
 
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: red 2px solid;
}
 
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
 
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
 
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
 
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}
 
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    .fixed-brand{
        width: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
 
    #sidebar-wrapper {
        width: 250px;
    }
 
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    }
 
 
    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
 
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
 
    }
}  

.well
{
    width: 300px; 
    position: absolute;  
    z-index: 15; 
    top: 50%; 
    left: 50%; 
    margin: -150px 0 0 -150px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width:300px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close_plus {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close_plus:hover,
.close_plus:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



/* TABLE CSS*/

